@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Summary Notes';
    src: url('src/assets/fonts/Summary Notes DEMO.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat Alternates';
    src: url('src/assets/fonts/MontserratAlternates-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  } 